* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.ant-layout-header {
  top: 0;
  position: sticky;
  z-index: 2;
}

.header {
  background-color: white !important;
  padding: 0 12rem !important;
  height: 20vh !important;
}

.ant-breadcrumb {
  padding-bottom: 0.5rem !important;
}

.contentStyle {
  height: 40rem;
  color: #fff;
  line-height: 1.6rem;
  text-align: center;
  background: #364d79;
}

.contentStyle img {
  max-width: 100%;
  max-height: 100%;
  /* height: 100%; */
  object-fit: cover;
  width: 100%;
}

.ant-content {
  background-color: white;
  padding: 2.4rem 12rem !important;
}

.ant-layout-footer {
  background-color: coral !important;
  padding: 1rem 12rem !important;
}

.ant-card-cover img {
  max-height: 100%;
  height: auto;
  width: 60%;
}

.card-info {
  border: 0.1rem solid #e4e3e3;
  border-radius: 5px;
  text-align: center;
  background-color: #fafafa;
}

.ant-table-summary,
.ant-table-summary > tr,
.ant-table-summary > tr > td {
  font-weight: 500;
  border-bottom: none !important;
}

.checkout-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.checkout {
  height: 5rem;
}

.checkout-buttons {
  padding: 0 2.4rem;
}

.checkout-buttons .ant-btn,
.checkout-buttons .ant-btn:hover {
  border-color: green;
  background-color: green;
  border-radius: 5px;
  color: white;
}

.mini-cart {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 2.4rem;
  border-bottom: 1px solid #f0f0f0;
}

.ant-drawer-footer {
  padding: 1rem 0 !important;
}

.empty-cart {
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  border-radius: 15px !important;
}

.google-sign {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.google-image {
  display: flex;
  height: 2rem;
}
.google-image img {
  max-width: 100%;
}

.terms {
  margin-top: 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
  color: #666;
}

.ant-picker {
  width: 100% !important;
}

.cart-image {
  height: 5rem;
  width: 5rem;
}

.product-table-image {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 5vw;
}

.product-table-image img {
  max-width: 100%;
}

.empty-cart img,
.cart-image img {
  max-width: 100%;
}

.ant-drawer-title {
  color: white !important;
}

.checkout-buttons .anticon svg {
  vertical-align: unset !important;
}

.minus {
  padding: 0.4rem 0.4rem 0.4rem 0 !important;
}

.plus {
  padding: 0.4rem 0rem 0.4rem 0.4rem !important;
}

.card-info input {
  width: 5rem;
  border-left: 1px solid #e4e3e3;
  border-right: 1px solid #e4e3e3;
  border-top: none;
  border-bottom: none;
  text-align: center;
  background-color: #fafafa;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-input-group-wrapper {
  padding-top: 1rem !important;
}

.ant-card-bordered .ant-card-cover {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.product {
  margin-top: 3rem;
}

.product-card:hover {
  transform: scale(1.005);
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.product-info input {
  width: 3rem;
  text-align: center;
}

.price-detail {
  color: rgba(0, 0, 0, 0.45);
}

.add-to-cart {
  margin-top: 1rem;
  background-color: coral !important;
  border-color: coral !important;
}
.product-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-column img {
  max-width: 100%;
}
.ant-card-head-title {
  color: coral;
}
.price-tag {
  display: inline-block;
  width: auto;
  height: 2.4rem;
  background-color: silver;
  border-radius: 0.2rem 0.3rem 0.3rem 0.2rem;
  border-left: 1px solid coral;
  margin-left: 1.9rem;
  position: relative;
  color: white;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 0 10px 0 10px;
}

.price-tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -1.2rem;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-right: 1.2rem solid silver;
}

.price-tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -0.2rem;
  top: 1rem;
}

.add-cart {
  display: flex;
  position: relative;
}

.cart {
  text-align: center;
  background-color: coral;
  color: white;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  font-size: 1rem;
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  border: none;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  content: none !important;
}

.cart-table .ant-table-thead > tr > th {
  background-color: coral !important;
  color: white !important;
}

.logo {
  color: coral;
  font-size: 2.5rem;
  font-weight: bold;
}

.main-color {
  color: coral;
}
.logo img {
  max-width: 100%;
  height: auto;
  width: 6rem;
}

.checkout-content {
  padding: 5rem;
  margin: 0 3rem 0 0;
  display: flex;
  justify-content: center;
}

.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: coral !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: coral !important;
  background-color: coral !important;
}
.ant-checkbox-checked::after {
  border: 1px solid coral !important;
}

.login-form-button {
  background-color: coral !important;
  border-color: coral !important;
}

.buttons {
  height: 4rem !important;
  border-radius: 20px !important;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-button {
  width: 100%;
}

.link {
  display: flex;
  flex-direction: row-reverse;
}

.admin-product-card {
  margin-top: 1.5rem !important;
  border-radius: 1rem !important;
}

.ant-menu-item-selected a {
  color: coral !important;
  background-color: transparent !important;
}

.ant-menu-item-selected::after {
  border-bottom: 2px solid coral !important;
}

.ant-menu-item-active,
.ant-menu-item-selected:hover {
  color: coral !important;
}

.checkout-info .ant-card {
  width: 80%;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: coral !important;
  border-color: coral !important;
}

.ant-steps-item-finish .ant-steps-item-icon,
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  background-color: #fff;
  border-color: coral !important;
  color: coral !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title:after {
  background-color: coral !important;
}

.newsletterSection {
  background-color: coral;
  padding: 1.6rem 0;
}

.subscribe-txt {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #111;
}
.subscribe-block {
  position: relative;
}
.callblock24 {
  background: #fff;
  padding: 8px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 30px;
}
.callblock24 a {
  color: #444;
}
img.img24 {
  width: 50px;
  margin-right: 15px;
}
.subscribeForm input {
  padding: 12px 20px;
  width: 100%;
  outline: none;
  border: none;
}
button.subscribe {
  padding: 12px 25px;
  border: none;
  background: #111;
  color: #fff;
  position: absolute;
  right: 0;
}
#preFooter {
  padding: 2.4rem 12rem;
  background-color: white !important;
}
.footer-bar {
  display: block;
  width: 55px;
  height: 3px;
  background: #333;
  margin: 15px 0;
}
.footer-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-li {
  margin-bottom: 5px;
  color: #666;
}
.footer-li a {
  color: #666;
}
.footer-li a:hover {
  color: coral;
}
.footer-social .fab {
  font-size: 3.8rem;
  margin-right: 8px;
  color: coral;
}
.contact-us-btn {
  display: inline-block;
  background: coral;
  color: #fff;
  padding: 7px 18px;
  margin-top: 10px;
}
img.app-img {
  width: 170px;
}
.copyright {
  padding: 25px 0;
  background: #ddd;
  text-align: center;
  display: flex;
  align-items: center;
}
.copyright a {
  display: inline-block;
  vertical-align: bottom;
}

.fixed {
  overflow: auto;
  position: fixed !important;
}
.slider {
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 1.1rem;
}
.admin-drawer .ant-drawer-header,
.admin-drawer .ant-drawer-header-title {
  display: none !important;
}

.admin-drawer .ant-drawer-body {
  padding: 0 !important;
  background: #001529;
}

.admin-layout {
  margin-left: 20rem;
}

.product-form {
  margin: 0 3rem 0;
}
.product-form .ant-row {
  margin-bottom: 1.8rem;
}

.image {
  border: 1px solid #ccc;
  height: 12vh;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload {
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.image-delete {
  cursor: pointer;
  display: flex !important;
  align-self: flex-end;
}

input[type="file"] {
  display: none;
}

.upload-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .ant-layout-header {
    padding: 0 8rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 766px) {
  html {
    font-size: 45%;
  }
  .ant-layout-header {
    padding: 0 4rem !important ;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 43.75%;
  }
  .ant-layout-header {
    padding: 0 1.5rem !important ;
  }
}

@media only screen and (max-width: 319px) {
  html {
    font-size: 43%;
  }
}
